.Feedbox{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-left: 1px solid var(--twitter-color);
    border-right: 1px solid var(--twitter-color);
      overflow-y: hidden;
      background-color: white;

}

.feedbox_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid var(--twitter-color); 
    

}

.feedbox_header>h2{
    font-size: 1.5rem;
    margin-left: 1rem;

}

.feedbox_header>.MuiSvgIcon-root{
    margin-right: 1rem;
    font-size: 2rem;
    color: var(--twitter-color);
}

.feedbox_body {
    border-bottom: 1rem solid var(--twitter-color);
    width: 100%;
    padding:2rem 0rem;
    

}
.feedbox_body .feedbox_input{
    display:flex;
    width:100%;
    align-items:center;
    justify-content:flex-start;
    

}



.feedbox_body .feedbox_input > .MuiSvgIcon-root{
    margin-left: 1rem;


}

.avatar{
    margin-left: 1rem;
    margin-top: -4rem;
}

.feedbox_input_fields{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
  
}

.tweet_input, .tweet_img_input{

    margin-left: 1rem;
    border:none;
    outline: none;
    font-size: 1.5rem;
    flex:1;

}

.tweet_img_input{
    width: 97.5%;
    font-size: 1.5rem;
    background: var(--twitter-background);

}

.feedbox_submit{
    text-align: right;
    padding-right: 1rem;
    width: 100%;
}

.Button__Submit{
    background: var(--twitter-color)!important;
    color:white !important;
    border:none !important;
    padding: 1rem 1rem !important;
    border-radius: 5rem !important;
    margin-top: 1rem !important;

}